<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <link rel="stylesheet" href="/styles/insert.css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Scripts -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/javascript/form.js"></script>
</head>

<body>
    <header>
            <h1> {{title}} </h1>

            <div class="search">
                <form action="/produtos/list" method="GET">
                    <input type="text" name="prod_name" placeholder="Procure por um produto">
                    <button type="submit" class="btn_search"><i class='bx bx-search'></i></button>
                </form>
            </div>
    </header>

    <container class="main">

        <div class="entrys">
            <label for="">Nome do produto:</label>
            <input type="text" id="nome_produto">

            <br>

            <label for="">Quantidade:</label>
            <input type="number" id="num_caixas" >

            <br>

            <label for="">Data de fornecimento:</label>
            <input type="date" id="data_forn">

            <br>

            <label for="">Fornecedor:</label>
            <input type="text" id="fornecedor">

            <br>

            <label for="">Valor:</label>
            <input type="number" id="valor">

            <button id="btn_insert">Cadastrar</button>
        </div>
    </container>
</body>

</html>